@import './base.css';


/* Global Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #9000D9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #650097;
}
